<aside class="wiki-sidebar">

  <h3 onclick="toggleSection(this)">World</h3>
  <ul class="collapsible">
    <li><a href="/index.html">Overview</a></li>
  </ul>

  <h3 onclick="toggleSection(this)">Houses</h3>
  <ul class="collapsible">
    <li><a href="/houses/house-ghostwind.html">Ghostwind</a></li>
  </ul>

  <h3 onclick="toggleSection(this)">Races</h3>
  <ul class="collapsible">
    <li><a href="/races/catfolk.html">Catfolk</a></li>
  </ul>

  <h3 onclick="toggleSection(this)">Rules</h3>
  <ul class="collapsible">
    <li><a href="/rules/multiclassing.html">Multiclassing</a></li>
  </ul>

</aside>
