<h2>CANISGARD</h2>

<h3>World</h3>
<ul>
  {% for item in site.world %}
    <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<h3>Rules</h3>
<ul>
  {% for item in site.rules %}
    <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<h3>Houses</h3>
<ul>
  {% for item in site.houses %}
    <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<h3>Non-Dog Races</h3>
<ul>
  {% for item in site.races %}
    <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
