<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">


  <!-- Lunr Search -->
  <script src="https://unpkg.com/lunr/lunr.js"></script>
</head>

<body>
  {% include header.html %}

  <div class="wiki-container">
    {% include sidebar.html %}
    <main class="wiki-content">
      {{ content }}
    </main>
  </div>

 <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
<script src="{{ '/assets/js/sidebar.js' | relative_url }}"></script>
</body>
</html>
